week05/Library/
week05/Temp/
week04/Library/
week04/Temp/
week03/Library/
week02/Temp/
week02/Library/
week01/Library/
Assignment_01/Library/
Assignment_02/Library/
Assignment_03/Library/
Assignment_03/Temp/
Assignment_04/Library/
Assignment_04/Temp/
